
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@500;600&display=swap');
*{

    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

}
body{
    background-image: url(pattern.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin-left: 10vw;
    margin-right: 5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-size: 100vw;
    position: relative;
}
.rectangle{
    position: absolute;
    right: 75vw;
    margin-top: 5vw;
}
.formulaire{
    background-color: white; 
    width:75%; 
    margin: 3vw auto ;
    display: flex;
    flex-direction:column; 
    align-items:center; 
    border-radius: 20px;
    padding:2vw 0;
    position: relative;

    
}
.ayou{
    height: 400px;
    width: 400px;
}
.images{
    display: flex;
    animation-duration: 20s;
    animation-name: mesImages;
    animation-iteration-count: infinite;
    
}
@keyframes mesImages{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-400px);
    }
    50%{
        transform: translateX(-800px);
    }
    75%{
        transform: translateX(-1200px);
    }
    100%{
        transform: translateX(0);
    }
}
.gara{
    width: 400px;
    overflow: hidden;
    border-radius: 10px;
    top: 60vw;
    position: absolute;
    left: 10vw;
}
.gara2{
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    position: absolute;
    left:-0.5vw;
}
.garo{
    width: 400px;
    overflow: hidden;
    border-radius: 10px;
    top: 60vw;
    position: absolute;
    left: 50vw;
}
.self{
    margin-left: 1vw;
    width: 40vw;
    display: flex;
    justify-content: space-between;
}

.am{
    display: flex;
   
    height: 30vw;width: 45vw;margin-left: -8vw;
 
}
.hidden{
    display: inline;
}
.me{
    display: none;
}
nav{
    height: fit-content;
    display: flex;
    align-items: center;
    position: relative;
    
   
}

.rain{
    height: 30vw; 
    width: 35vw; 
    margin-top: 5vw; 
}

.logo img{
    width: 12vw  ;
    display: flex;
    align-items: center;
    display: flex;
    margin-top: 1.2vw;
    margin-left: -2vw;
   
}
.listbox{
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 45%;
    bottom: 50%;
    transform: translate(-50%,50%);
    flex-wrap: wrap;
   
   
}


.liste{
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
}
.devisbox{
    height: 6vw;
    display: flex;
    align-items: center;
    position: absolute;
    right: 15%;
 
    .top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #FFF;
        height: fit-content;
        padding: 1vw;
      }
      
      .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
        
      }
      .menu li{
        font-size: 1.8vw;
      }
      .menu > li {
        margin: 0 1rem;
        overflow: hidden;
      }
      .navrightside{
        display: flex;
      }
      .devisbox{
        display: flex;
      }
      .devis{
        padding: 1vw 3vw;
        background-color: transparent;
        border: 0.1vw solid white;
        color: white;
        border-radius: 0.8vw;
        font-size: 1.5vw;
        margin-right: 5vw;
      }
      .menu-button-container {
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      #menu-toggle {
        display: none;
      }
      
      .menu-button,
      .menu-button::before,
      .menu-button::after {
        display: block;
        background-color: #fff;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
      }
      
      .menu-button::before {
        content: '';
        margin-top: -8px;
      }
      
      .menu-button::after {
        content: '';
        margin-top: 8px;
      }
      
      #menu-toggle:checked + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
      }
      
      #menu-toggle:checked + .menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
      }
      
      #menu-toggle:checked + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
      }
   
}
.devis{
    width: 12vw;
    height: 3.5vw;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 0.5vw;
    font-size: 1vw;
   
}
.jazz{
    color: black;
    width: 70vw;
    position: absolute;
    margin-top: -6vw;
    margin-left: -30vw;
    width: 44vw;
    margin-left: -5vw;


}
#langues{
    position: absolute;
    right: 0%;
    width: 8vw;
    height: 3.5vw;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.3vw;
  
}
.header{
    display: flex;
    height: fit-content;
    padding-bottom: 15%;
    margin: auto;
    width: fit-content;
   
}
.right{
    height: 35vw;
    width: 45vw;
    position: relative;
  
    
}
.left{
    
    height: 40vw;
    width: 40vw;
    position: relative;
    margin-top: 4%;
   
}
.services{
    color: orange;
    font-size: 1.5vw;
    margin-top: 2vw;
    
}
.do{
    margin-top: 5vw;
}
.title1{
    color: white;
    font-size: 4.5vw;
    line-height: 4vw;
    
   
}
p{
    color: white;
    font-size: 1.5vw;
    
}
.image{
    width: 40vw;
    height: 85%;
    position: absolute;
    right: -5%;
    
}
.texte{
    position:;
    bottom: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vw;
    
   
}
.osf{
    margin-top: 1vw;
}
.osf2{
    height: 30px;
    width: 200px;
}
.osf12{
    height: 27px;
    
}
.contactbox{
    height: fit-content;
    display: flex;
    align-items: center;
    position: absolute;
    bottom:-2%;

}
.osf3{
    height: 30px;
    width: 80px;

}
.medium{
    margin-left: 2vw;
}
.contact{
    width: 12vw;
    height: 3.8vw;
    background-color: rgb(248, 48, 108);
    color: white;
    border-radius: 0.5vw;
    border: none;
    font-size: 1vw;
    margin-top: 5vw;
  
   
}
.play{
    height: 3.5vw;
    width: 3.5vw;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
    
   
}
.video{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20vw;
    position: absolute;
    right: 18%;
    top:90%;
    
}
.playtext{
    color: white;
    font-size: 1.5vw;
   
}
.fa-play{
    color: white;
}
.RS{
    height: 4.5vw;
    width: 7vw;
    border-radius: 50%;
    background-color: #5D6085;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-right: 10px;
}
.RSbox{
    width: 15vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 0%;
    bottom:5%;
   
}
.fa-facebook-f{
    color: white;
}
.fa-twitter{
    color: white;
}
.fa-instagram{
    color: white;
}
.fa-language{
    position: absolute;
    right: 2%;
    color: white;
}
.strategie{
    width: 80vw;
    display: flex;

    
    
    
}
.textstrategie{
    width: 47vw;
    
  

    
}
.textstrategie1{
    width: 47vw;
    margin-top: 5vw;
    margin-left: 25vw;
}
.group15{
    width: 50vw;
    background-color: #f78a22;
    
}
.text2{
    color: black;
    margin-top: -1vw;

}
.title2{
    font-size: 3.5vw;
    margin-top:0.5rem;
    
}

.service{
    width: 100%;
    padding-top: 15%;
    display: flex;
    padding-bottom: 6%;
}
.text3{
    width: 50%;
    margin-top: 8vw;
    margin-left: 12vw;
}
.headservice{
    width: 50%;
}
.box{
    width: 100%;
    justify-content: space-around;
}
.innerbox{
    width: 32%;
    height: 33vw;
    border-radius: 1.2vw;
    
    
    

}
.innerbox1{
    width: 32%;
    height: 33vw;
    background-color: #ffffff;
    border-radius: 1.2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.innerbox:hover{
    
    box-shadow: 2px 2px 10px rgba(10, 10, 10, 0.349);

}

.innerbox1:hover{
    box-shadow: 10px 10px 22px rgba(16, 16, 16, 0.370);

}
.innerbox-text{
    margin-left: 8%;
}
.circle{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border: #f78a22 10px solid;
    margin-left: 7%;
    margin-bottom: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.circle1{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border: rgb(230, 24, 168) 10px solid;
    margin-left: 3%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-right: 2rem;

    
}
.eos{
    height: 7vw;
}
.circle2{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border: rgb(148, 158, 243) 10px solid;
    margin-left: 7%;
    margin-bottom: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container{
    width: 200px;
    position: relative;
    display: block;
    z-index: 999;
}

.click{
    background-color: #f78a22;
}
.click:hover{
    background-color: blue;

}
.click,.linksa{
    padding: 12px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    width: 200px;
    color: #ffffff;
    transition: 0.3s;
}
.list{
    position: absolute;
    transform:scaleY(0);
    transform-origin:top;
    transition: 0.3s;
    display: block;

}
.container{
    position: absolute;
}
.newlist{
    transform: scaleY(1);
}
.linksa{
    background-color: rgb(138, 153, 235);
}
.linksa:hover{
    background-color: greenyellow;
    transform: scale(1.1);

}

  
.babe{
    display: flex;
    justify-content: space-around;
    margin-top: 10vw;

}
h2{
    font-size: 2vw;
   
}
.lorembox{
    color: gray;
}
.box{
    display: flex;
    margin-top: 5vw;
}
.laga{
    position: absolute;
    left: 5vw;
    margin-top: 4vw;
}
.smallcircle5{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: rgb(76, 79, 223) 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;

}
.smallcircle4{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: rgb(248, 207, 118) 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;

}
.smallcircle3{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: rgb(247, 92, 213) 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;

}
.smallcircle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: rgb(138, 153, 235) 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;

}
.mysection{
    width: ;
    height: 40vh;
    background-color:#ECEDF3;
    display: flex;
    margin-top: 20vw;
    border-radius: 15px;
    flex-direction: column;
}
footer{
    width: 100%;
    padding: 3vh 0;
    background-color: #3e4169;
    position: relative;
    margin-top: 20%;
    height: 210vh;
}
.innerbox15{
    width: 25vw;
    margin-top: 10vw;
    margin-right: 10vw;
}
.ran{
    width: 35vw;
}


.smallcircle1{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: rgb(76, 79, 223) 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;

}
.smallcircle2{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: rgb(248, 207, 118) 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;

}
.text4{
    color: grey;
    font-size: 1.5vw;
    width: 20vw;
 

}
.addedtext{
    height: 100%;
    width: 70%;
    margin-right: 4%;
}
.smallbox{
    width: 50vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.comments{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: -10vw;
}
.last{
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2%;
    margin-left: -4vw;
    width: 100%;
}

.mimi{
    display: flex;
    background-color: ;
    width: 25vw;
    justify-content: space-between;
}

.form{
    width: 100%;
    height: 130vh;
    background-color: transparent;
    position: relative;
}
.swm{
    height: 35%;
}
.greyrectangle{
    width: 114%;
    height: 250vh;
    background-color: #ECEDF3;
    margin-left: -8vw;
    border-radius: 50px;
    margin-top: 20%;
    position: relative;

}
.caroussel{
    height: fit-content;
    width: 400px;
    position: absolute;
    top:-30vw;
    left: 5vw;
}

.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;

}
.hey{
    height: 400px;
    width: 400px;
    
}

.carousel-item {
    margin-left: 1rem;
}
.grey-bg-image{
    width: 340px;
    height: 400px;
    background-color: rgb(201, 201, 201);
    border-radius: 18px;
    position: absolute;
    right: 2%;
    top: 10%;
}

.hoverrectangle{

    width: 350px;
    height: 320px;
    background-color: white;
    border-radius: 13px;
    position: absolute;
    right: 15%;
    top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: end;

    

}
.thetwinphotos{
    border-radius: 20px;

    
}

.form-content{
    display: flex;
    flex-direction: column;
}
.innerbox2{
    width: 24%;
    height: 35vh;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-left: 5em;
    

}
.innerbox12{
    width: 24%;
    height: 35vh;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-left: 5em;
    font-size: 1vw;
    

}
.ane{
    font-size: medium;
    
}
.innerbox10{
    
        width: 24%;
        height: 35vh;
        border-radius: 13px;
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        margin-left: 15vw;
        font-size: 1vw;
}

.copyright{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 88%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}

.innerform{
    content: ;
    background-color:white; width:60%; height: 800px; display: flex;flex-direction:column; align-items:center; position: absolute; 
    left: 50%; top: 60%; transform: translate(-50%,-50%); border-radius: 20px;

}
.gradient::after{
    content: "";
    width: 400px;
    height: 400px;
    background-color: #3e4169;
}
.coeur{
    position: absolute;
    display: flex;
    top: 95vw;
    left: 3vw;
    justify-content: space-between;
    
    width: 86%;
}
.mama{
    height: 221px;
    width: 211px;

}

.last{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 5%;
}
.temoignages{
    color: orange;
    font-size: 1.4vw;
    margin-bottom: 1vw;
}
.subscribe{
    height: 23vw; 
    width: 83.5vw; 
    margin: 12vw 10vw 0 6.5vw ;
    background-color:rgb(236, 236, 236); 
    border-radius: 1vw; 
    position: relative
}
.RS2{
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.404);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-right: 10px;
}
.bobo{
    display: none;
}
.textstrategie{
    width: 50%;
    margin-left: 3.5vw;
    padding-top: 3vw;
}
.TitleGreatSized{
    font-size: 4vw;
    line-height: 5vw;
    margin-bottom: 1vw;
}
.emailsubscription{
    background-color:white; 
    border:none;
    outline: none; 
    height: 3vw; 
    width: 20vw; 
    border-radius: 5%;
    font-size: 1.4vw;
    margin-top: 1vw;
}
.emailsubscription::placeholder{
    font-size: 1.4vw;
    color: grey;
}
.emailsubscriptionsubmit{
    background-color:orange; 
    border:none;
    outline: none; 
    height: 3vw; 
    width: 8vw; 
    border-radius: 5%;
    font-size: 1.4vw;    
    margin-top: 1vw;
    margin-left: 1vw;
    color: white;
}
.socialnetwork{
    height: 18vw; 
    width: 18vw; 
    background-color:rgb(255, 255, 255); 
    border-radius: 7%;
    position: absolute; 
    box-shadow: 1vw 1vw 1vw rgba(46, 46, 46, 0.479); 
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.socialnetwork img{
    height: 9vw; 
    width: 9vw; 
}
.facebook{
    right: 30%; 
    bottom: -8%;
}
.linkedin{
    right: 4%; 
    top: -8%;
}
.grounch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5vw;
    margin-left: 1.5vw;
    width: 50vw;
    text-align: center;
}
.fluide{
    display: flex; width:500px; height: 50px; margin-left:50px; margin-right:50px; margin-top: 50px; justify-content: space-between;
    background-color:;
}
.fluide1{
    height: 70px; 
    width: 200px;
}
.fluide1a{
 margin-left:7.5vw ;
 width: 200px;
 height: 70px;
}
.iii{
    margin-left: 7.5vw;
}
.ranma{
    display: flex; width:500px; height: 150px; justify-content: space-between;
}
.black{
    background-color: rgb(202, 36, 138); margin-top: 150px; color: white; height: 30px; width: 120px; border-radius: 5px; border: none;
}
.roro{
    font-size: medium;
}
.inner16{
    margin-bottom: vw;
}
.innerbox13{
    width: 24%;
    height: 35vh;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    margin-top: 9.5vw;
    font-size: 1vw;
}



@media screen and (max-width: 720px) { 
    *{
    margin: 0;
    padding: 0;
}
.laga{
    position: absolute;
    left: 15vw;
    top: 200vw;
}
.innerbox10{
    
    width: 24%;
    height: 10vh;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    margin-top: 125vw;
    margin-left: -43vw;
    font-size: 2vw;
   
}

.innerbox15{
    width: 35vw;
    margin-top: -50vw;
    margin-left: -22vw;
}
.ne{
    border: #f78a22;
}
.nini{
    font-size: 1.5vw;
}
.innerbox12{
    width: 24%;
    height: 35vh;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    top: 175vw;
    left: -30vw;
    font-size: 2vw;
}
.innerbox13{
    width: 24%;
    height: 35vh;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-right: 42vw;
    font-size: 2vw;
}
.click{
background-color: transparent;
}
.click:hover{
    background-color: transparent;

}
.click,.linksa{
    padding: 12px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    width: 200px;
    color: #ffffff;
    transition: 0.3s;
}
.list{
    position: absolute;
    transform:scaleY(0);
    transform-origin:top;
    transition: 0.3s;
    display: block;

}
.container{
    width: 30px;
    position: relative;
    display: block;
    z-index: 999;
    height: 10px;
    left: 40vw;
    top: -20px;
}
.newlist{
    transform: scaleY(1);
}
.linksa{
    background-color: rgb(138, 153, 235);
}
.linksa:hover{
    background: #26caf8 
    transform: scale(1.1);

}
.black{
    background-color: black; top:  130vw; color: white; height: 30px; width: 120px; border-radius: 5px; border: none; position: absolute;
}
.black:hover{
   background-color:  rgb(202, 36, 138);
}


.dark-mode {
  background-color: black;
  color: white;
}

.mama{
    height: 100px;
    width: 100px;

}
.jo{
        border: 1px solid #444;
        align-items: center;
        background-color: white;
        box-shadow: 
          12px 12px 16px 0 rgba(0, 0, 0, 0.25),
          -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
        display: flex;

}

.bobo{
    display: block;
}
.mapo{
    font-size: px;
    background-color: red;
   
}
@media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    .navrightside{
      display: none;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }
  
.ranma{
    display: flex; width:210px; height: 100px; justify-content: space-between; border-radius: 5px;
    margin-top: -3vw;
}
.nours{
    font-size: 10px;
    width: 50vw;
   
}
.jm{
    display: flex;
    margin-left: 10px;
}
.ayou{
    height: 300px;
    width: 300px;
}
.images{
    display: flex;
    animation-duration: 20s;
    animation-name: mesImages;
    animation-iteration-count: infinite;
    
}
@keyframes mesImages{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-200px);
    }
    50%{
        transform: translateX(-400px);
    }
    75%{
        transform: translateX(-600px);
    }
    100%{
        transform: translateX(0);
    }
}
.gara{
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    top: 175vw;
    position: absolute;
    left: 10vw;
}
.gara2{
    width: 140px;
    overflow: hidden;
    border-radius: 10px;
    position: absolute;
    left: 22vw;
    margin-top: -80vw;
}
.fluide{
display: flex; width:50px; height: 100px; margin-left:50px; margin-right:50px; margin-top: 50px; justify-content: space-between;
flex-direction: column; 
}
.fluide1{
    height: 30px;
    width: 200px;
    border-radius: 5px;
    margin-left: -20vw;
}
.mara{
    margin-top: -20vw;
    width: 50vw;
}
.fluide1a{
    height: 30px;
    width: 200px;
    border-radius: 5px;
    margin-left: -20vw;
    ;
}

.self{
    margin-left: 1vw;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    height: 20vw;
}

.garo{
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    top: 50vw;
    position: absolute;
    left: 50vw;
}

.mimi{
    display: flex;
    flex-direction: column;
    width: 25vw;
    justify-content: space-between;
    margin-top: 2vw;
}
.coeur{
    position: absolute;
    display: flex;
    top: 260vw;
    left: 3vw;
    width: 80%;
    height: 40vw;
    flex-direction: column;
    justify-content: space-between;
    
}




.babe{
    display: flex;
    justify-content: space-around;
    margin-top: 10vw;
    margin-left: 32px;
    height: 120vw;
    flex-direction: column;
   

}
.taille{
    height: 140px;
    width: 140px;
  
    
   
   
}
.taille2{
    height: 50px;
    width: 50px;
    position: absolute;
    left:0vw;
}
.mar{
    position: absolute;
    background-color: red;
    
    
}
.de{
    margin-top: 20vw;
}
.done{
    display: flex;
    flex-direction: column;
    
}
.osf4{
    height: 30px;
    width: 200px;
}

.osf2{
    height: 25px;
    width: 150px;
}

.osf15{
    height: 25px;
    width: 150px;
}
.mer{
    margin-top: 10px;
}
.lei{
    height: 600px;
    width: 600px;
    
    
}
.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;

}
.carousel-item {
    margin-left: 1rem;
}
.hservice{
    height: fit-content;
    width: 100%;
    margin-top: 10vw;
}
.rain{
    

    display: flex;
    flex-direction: column;
    margin-top: 4vw;
    margin-left: 25vw;
    height: 38vw;
    width: 35vw;
}
.man{
    text-align: start;
}

.hidden{
    display: none;
}
.fercia{
    display: none;
}
.me{
    display: inline;
   position: absolute;
   right: 6%;
   
}
.am{
    height:30vw;
    width: 53vw;
    margin-left: -8vw;
}
body{
    background-image: url(patten.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin-left: 0vw;
    margin-right: 0vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-size: 0vw;
    position: relative;
    width: 100%;
    

}
.him{
    background-image: url(pattern.png);
    background-size: cover ;
    height: fit-content;
    background-position: right;
    background-repeat: no-repeat;
    width: 100%;
}
nav{
    padding-top: 5vw;
    height: 6vw;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 8vw;
   
}
.nav select{
    position:absolute;
    right: 18%;
}
.logo img{
     
    width: 28vw;
    display: flex;
    align-items: center;
    display: flex;
    margin-top:0;
    margin-top: 5vw;
    margin-left: 6vw;

    
   
}
.eos{
    height: 15vw;
}
.listbox{
    width: 30vw;
    display: none;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 45%;
    bottom: 50%;
    transform: translate(-50%,50%);
    flex-wrap: wrap;
   
}
.list{
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
}
.devisbox{
    height: 6vw;
    display: none;
    align-items: center;
    position: absolute;
    right: 15%;
    
   
}
.devis{
    width: 12vw;
    height: 3.5vw;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 1vw;
    font-size: 1vw;
   
}
#langues{
    position: absolute;
    right: 18%;
    width: 30vw;
    height: 6vw;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 4vw;
  
}
.header{
    display: flex;
    height: fit-content;
    padding-bottom: 15%;
    flex-direction: column-reverse;
   
}
.mysection{
   
    height: 25vh;
    background-color:#ECEDF3;
    display: flex;
    margin-top:-20vw;
    border-radius: 15px;
    flex-direction: column;
    width: 70%;
    margin-left: 25vw;
    margin-right: auto;
    
}
.ng{
    position: absolute;
    top: -48vw;
}
.lui{
    margin-top: 4px;
}
.right{
    height: 40vw;
    width: 90vw;
    position:absolute;
    margin-left: 5vw;
    top:7%;
      
    
}
.left{
    
    height: fit-content;
    width: 90vw;
    position: relative;
    margin-top: 4%;
    margin-bottom: 150vw;
   
}
.fefe{
    background-color: green;
    color: orange;
    font-size: 3.5vw;
    margin-left: 24vw;
    width: 100%;
}
.services{
    color: orange;
    font-size: 3.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}
.service1{
    color: orange;
    font-size: 3.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 40vw;
    width: 40vw;


}
.service12{
    color: orange;
    font-size: 3.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 40vw;


}
.title1{
    color: white;
    font-size: 8vw;
    line-height: 9vw;
    width: 65vw;
    
   
}
p{
    color: white;
    font-size: 1.5vw;
    
}
.image{
    width: 100%;
    height: auto;
    position: absolute;
    right: -5%;
    margin-top: 6vw;

    
}
.texte{
    position: absolute;
    bottom: 5vw;
   
}
.contactbox{
    height: fit-content;
    display: flex;
    align-items: center;
    position: absolute;
    bottom:-30vw;

}
.contact{
    margin-bottom: 3%;
    width: 30vw;
    height: 7vw;
    border: 2px solid black;
    color: white;
    border-radius: 0.5vw;
    border: none;
    font-size: 3vw;
    background-color: blue;
   
}
.contact:hover{
    background-color: rgb(248, 48, 108);
}
.play{
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.bae{
    font-size: 3.3vw;
    line-height: 4vw;
    height: 30vw;
    top:3vw;
    display: flex;
    margin-top: 4vw;
   
}

.video{
    display: flex;
    align-items: center;
    width: 40vw;
    height:10vw;
    position: absolute;
    right: 18%;
    top: 150%;
   
}
.playtext{
    color: white;
    font-size: 4vw;
    margin-right: 10vw;
   
}
.fa-play{
    color: white;
    height: 3vw;
    width: 10vw;
}
.RS{
    height: 4.5vw;
    width: 7vw;
    border-radius: 50%;
    background-color: #5D6085;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-right: 10px;
}
.RS2{
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.342);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-right: 10px;
}
.RSbox{
    width: 12vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 0%;
    bottom:5%;
    background-color: red;
    display: none;
}
.fa-facebook-f{
    color: white;
}
.fa-twitter{
    color: white;
}
.fa-instagram{
    color: white;
}
.fa-language{
    position: absolute;
    right:24%;

    color: white;
}
.strategie{
    width: 100%;
    display: flex;
    height: fit-content;
    flex-direction: column;
    margin: auto;
   
    
}
.textstrategie{
    width: 50vw;
    margin-top: 4vw;
}
.textstrategie1{
    width: 47vw;
    margin-top: 10vw;
    left: 0vw;
    
    position: absolute;
}
.bb{
    margin-top: -20vw;
}

.group15{
    width: 50vw;
    display: flex;
    align-items: center;
 
    
}
.loup{
    width: 70vw;
}
.rudi{
    color: black;
    font-size: 3.5vw;
    width: 70vw;
    background-color: blue;
    margin-left: -12vw;
    margin-top: 3vw;
}
.text2{
    color: black;
    font-size: 3.5vw;
    width: 70vw;
    
}
.jazz{
    color: black;
    font-size: 3.5vw;
    width: 70vw;
    position: absolute;
    margin-top: 0.3rem;
    margin-left: 1vw;
}

.title2{
    font-size: 6vw;
    margin-top: -1vw;
    margin-top: 2vw;
}
.title3{
    font-size: 6vw;
    margin-top: 48vw;
    position: absolute;
}
.gabin{
    font-size: 6vw;
    margin-top: -1vw;
   
}
.erouane{
    height: fit-content;
    width: 150px;
}

.service{
    width: 100%;
    display: flex;
    flex-direction: column;
  
}
.text3{
    width: 50%;
}
.headservice{
    width: 50%;
    flex-direction: column;
    position: absolute;
    left: 24vw;
    margin-top: -15vw;

    
    
    
    
}
.box{
    width: 100%;
    display: flex;
    margin-top: 14vw;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    height: fit-content;
    justify-content: start;
}
.innerbox{
    width: 50%;
    height: 60vw;
    border-radius: 1.2vw;
    margin-top: 1rem;
    margin-left: -26vw;
    margin-right: 3vw;
    
    
    

}
.innerbox2{
    width: 50%;
    height: 55vw;
    border-radius: 1.2vw;
    margin-left: -20vw;
    margin-right: 3vw;
    
    
    

}
.innerbox1{
    width: 50%;
    height: 60vw;
    background-color: #ffffff;
    border-radius: 1.2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vw;
    margin-left: -30vw;
    
  
    

}

.innerbox:hover{
    
    box-shadow: 2px 2px 10px rgba(10, 10, 10, 0.349);

}

.innerbox1:hover{
    box-shadow: 10px 10px 22px rgba(16, 16, 16, 0.370);

}
.innerbox-text{
  
    width: 40vw;
    margin-left: 0vw;

}
.circle{
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    border: #f78a22 8px solid;
    margin-bottom: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -2vw;
    
   
    
}
.circle1{
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    border: rgb(230, 24, 168) 8px solid;
    margin-left: 7%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-right: 2rem;

    
}
.circle2{
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    border: rgb(148, 158, 243) 8px solid;
    margin-left: 0;
    margin-bottom: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
h2{
    font-size: 4vw;
    width: fit-content;
}
.lorembox{
    color: gray;
    margin-top: -4vw;
    width: 50vw;
    font-size: 3vw;
}
.box{
    display: flex;
}
.smallcircle5{
    height: 50px;
    width: 30px;
    border-radius: 50%;
    border: rgb(76, 79, 223) 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;

}
.smallcircle4{
    height: 50px;
    width: 30px;
    border-radius: 50%;
    border: rgb(248, 207, 118) 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;

}
.smallcircle3{
    width: 30px;
    height: 50px;
    border-radius: 50%;
    border: rgb(247, 92, 213) 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rouane{
  height: 20px; 
  width:20px ; 
}
.smallcircle{
    width: 30px;
    height: 50px;
    border-radius: 50%;
    border: rgb(138, 153, 235) 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;

}
.smallcircle1{
    width: 30px;
    height: 50px;
    border-radius: 50%;
    border: rgb(76, 79, 223) 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;

}
.smallcircle2{
    width: 30px;
    height: 50px;
    border-radius: 50%;
    border: rgb(248, 207, 118) 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;

}
.text4{
    color: grey;
    font-size: 2.5vw;
    width: 38vw;

}
.po{
    font-weight: 500;
    font-size: 4vw;
}
.addedtext{
    height: 100%;
    width: 70%;
    margin-right: 4%;
}
.smallbox{
    width: 33%;
    height: 28vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    

}
.comments{
    display: flex;
    justify-content: space-between;
    width: 92%;
    flex-direction: column;
    margin-top: 3vw;
    margin-left: 10vw;
}
.love{
    color: orange;
    font-size: 1.5vw;
    margin-top: 2vw;
    display: none;
}
.last{
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0;
    margin-left: 0;
    width: 100%;
    margin-top: 10vw;
}
footer{
    width: 100%;
    height: 170vh;
    background-color: #3e4169;
    position: relative;margin-top: 10%;
    display: flex;
    flex-direction: column;
}
.nguema{
    width: 500px;
}
.form{
    width: 100%;
    height: fit-content;
    background-color: transparent;
    position: relative;
}
.swm{
    height: 35%;
}
.greyrectangle{
    width: 100%;
    height: 320vw;
    background-color: rgb(236, 237, 243);
    border-radius: 50px;
    margin-top: 0;
    position: relative;
    margin-left: 0px;


}
.rectangle{
    position: absolute;
    left: 15vw;
    margin-top: -90vw;
    
}
.nina{
    width: 200px;
}
.grey-bg-image{
    width: 50vw;
    height: 60vw;
    background-color: rgb(201, 201, 201);
    border-radius: 18px;
    position: absolute;
    right: 6%;
    top: 80vw;
}
.hoverrectangle{

    width: 70vw;
    height: 50vw;
    background-color: white;
    border-radius: 13px;
    position: absolute;
    right: 30%;
    top: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: end;

    

}
.thetwinphotos{
    border-radius: 20px;

    
}

.form-content{
    display: flex;
    flex-direction: column;

}
.innerbox2{
    width: 24%;
    height: 35vh;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-left: 5em;
    

}
.copyright{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 50%;
    top: 330vw;
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
    flex-direction: column;
    align-items: center;
}
.randa{
    height: 2px;
    width: 80vw;
    background-color: grey;
    margin-left: 10vw;
    margin-top: 10vw;
}
.roro{
    font-size:2.5vw;
}
.innerform{
        content: ;
        ;width:77%; height: 750px; display: flex;flex-direction:column; align-items:center; position: absolute; 
        left: 55vw; top: 100vw; transform: translate(-50%,-50%); border-radius: 20px;
        background-color: white;
}
.mona{
    margin-top: -8vw;
}
.mona1{
    margin-top: 5vw;
}
.gradient::after{
    content: "";
    width: 400px;
    height: 400px;
    background-color: #3e4169;
}
.grounch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15vw;
    margin-left: 1.5vw;
    width: 50vw;
    text-align: center;
}
.don{
    text-align: center;
    width: 50vw;
    font-size: 12px;
    

}
}